@layer components {
  .markdown {
    @apply text-slate-800 dark:text-slate-100;

    a {
      @apply border-b border-purple-500 text-purple-500 no-underline hover:border-purple-700 hover:text-purple-700;
    }

    p:last-child {
      @apply mb-0;
    }
  }

  .custom-tldr {
    a {
      @apply font-medium text-slate-900 no-underline dark:text-white;
    }
  }
}
